@model List<WebprojectCK.Models.Product>
@{
    ViewBag.Title = "viewproduct";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}
<button class="btn btn-primary" type="button"><a href="/admin/admin/AddProduct" style="color:white">Create</a></button>
<table class="table table-bordered">
    <tr>
        <th>Ảnh</th>
        <th>Tên</th>
        <th>Ngày Lập</th>
        <th>Giá</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @if (item.img == "")
        {
            <img src="~/img/noimage.jpg" width="100px" />
        }
        else
        {
            <img src="~/img/@item.img" width="100px" />
        }
    </td>
    <td>@Html.DisplayFor(model => item.productName)</td>
    <td>@Html.DisplayFor(model => item.createdate)</td>
    <td>@Html.DisplayFor(model => item.price) VNĐ</td>
    <td><button class="btn btn-primary" type="button"><a href="/admin/admin/DeleteProduct/@item.productID" style="color:white">Delete</a></button></td>
</tr>
    }
</table>

